{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}


<h1 class="text-center">Register</h1>
    <div class="row d-flex justify-content-center">
        <form method="post"
              class="form"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% bootstrap_form profile_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary"> Register</button>
                <p>or <a href="{%  url 'login_user' %}">Login</a></p>
            {% endbuttons %}


        </form>

    </div>




{% endblock content %}